.box {
  height: 344px;
  margin-top: 48px;
}


.box .banner {
  height: 344px;

}

.box .overlap-group {
  height: 344px;
  position: relative;
}

.box .image {
  height: 296px;
  width: 100%;
}

.box .RestLogoMain {
  height: 144px;
  left: 464px;
  background-color: #F7F7F7;
  position: absolute;
  top: 200px;
  width: 144px;
  border: 4px solid #fff;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box .logo {
  width: 96px;
  height: 96px;
}



/* .box .icons-icon-fill-px {
  left: 992px !important;
  position: absolute !important;
  top: 32px !important;
} */

/* 
.box .icons-px-heart {
  left: 14px !important;
  top: 14px !important;
} */





.CoverImage {
  display: flex;
  justify-content: end;
  align-items: start;
  border-radius: 16px;
  background: url(/src/Pics/BannerPhotos/Cover.png)!important;
  background-size: cover!important;
  width: 100%;
  height: 296px;
  padding: 32px;
}