.SettingListItem a{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  margin: 32px 0px ;
  padding-bottom: 17px;
  border-bottom: 1px solid var(--colorsgraya-3a-3a-416) ;
  
}

.Setting p{
  padding-left: 24px;
  color: var(--colorstextdark-182135100);
  font-family: var(--text-h4-bold-font-family);
  font-size: var(--text-h4-bold-font-size);
  font-style: var(--text-h4-bold-font-style);
  font-weight: var(--text-h4-bold-font-weight);
  letter-spacing: var(--text-h4-bold-letter-spacing);
  line-height: var(--text-h4-bold-line-height);
}

.Left{
  display: flex;
}
