.NavBarDesktop{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}


.OverLay{
  width: 100%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.16);
  position: fixed;
  z-index: 3;
  overflow: hidden;
}