.Cnbox {
  height: 24px;
  width: 74px;
}

.Cnbox .Cnitem {
  height: 24px;

  width: 76px;
}

.Cnbox .Cnoverlap-group {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorserrorff-000010);

  border-radius: 6px;
  height: 24px;
  position: relative;
  width: 74px;
}

.Cnbox .Cntext {
  color: var(--colorserrorff-0000100);
  font-family: var(--text-caption-2-semi-bold-font-family);
  font-size: var(--text-caption-2-semi-bold-font-size);
  font-style: var(--text-caption-2-semi-bold-font-style);
  font-weight: var(--text-caption-2-semi-bold-font-weight);
  letter-spacing: var(--text-caption-2-semi-bold-letter-spacing);
  line-height: var(--text-caption-2-semi-bold-line-height);
  text-align: center;
  white-space: nowrap;
}